body {
  background-color: rgb(0, 0, 0);
}
#canvas {
  display: grid;
  grid-template-columns: repeat(200, 10px);
  grid-template-rows: repeat(200, 10px);
  gap: 0;
  margin: auto;
  background-color: rgb(168, 168, 168);
  width:99vw;
  height: 97.5vh;
  z-index: 1;
  overflow: hidden;
}
.cell {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  width: 10px;
  height: 10px;
  margin: 0px;
  padding: 0;
}
.button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 2;
}
.cell.alive {
  background-color: rgb(255, 255, 255);
}
#canvas.linesOn .cell{
border-top:1px solid rgb(40, 40, 40);
border-left:1px solid rgb(40, 40, 40);
box-sizing: border-box;
/* box-shadow: 0 0 0 1px black; */
}
button{
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
